.contact {
  padding: 20px;
  padding-bottom: 2.5rem;
}
.contact-image {
  position: relative;
  background-image: url("/src/assets/images/contact-bg.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(53, 63, 232, 1);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contact-image h3 {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.submit {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: rgba(255, 136, 31, 1);
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }

  .contact-image h3 {
    padding: 1rem;
    font-size: 2rem;
  }

  .form-input {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .submit {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 650;
    line-height: normal;
  }
}

@media (min-width: 1024px) {
  .contact-image h3 {
    padding: 1.5rem;
    font-size: 1.9rem;
  }
  .contact {
    padding: 5rem;
  }
}
