.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(53, 63, 232, 1);
  color: #fff;
  width: 100%; /* Ensure background color covers the entire container */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.footer-logo {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: Montserrat;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-logo p {
  font-size: 1.3rem;
  font-weight: 700;
}

.logo_footer_image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.contact-list,
.menu-list,
.social-media {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.contact-body,
.menu-body {
  margin-bottom: 10px;
  display: flex;
  font-family: Montserrat;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.phone-icon {
  margin-left: 2px;
  width: 15px !important;
  height: 15px !important;
}

.menu-title {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: Montserrat;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.menu-body {
  flex-direction: column;
  width: 50%;
  text-decoration: underline;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.menu-container {
  width: 100%;
}

.contact-body img,
.social-media-icon img {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 10px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.maps iframe {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

.maps {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer-logo,
  .contact-list,
  .menu-list,
  .maps {
    flex: 1 1 30%; /* Arrange in a single row on larger screens */
    font-size: 1rem;
  }

  .menu-container {
    max-width: 250px;
  }

  .footer-logo {
    flex-direction: column;
    max-width: 150px;
  }

  .contact-list {
    max-width: 768px;
  }

  .maps {
    max-width: 800px;
    height: 200px;
  }

  .footer-container {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .footer-logo,
  .contact-list,
  .menu-list,
  .maps {
    flex: 1 1 22%;
  }
}
