.experience-container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid rgba(243, 243, 243, 0.1);
}

.experience {
  text-align: left;
}

.experience img {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 20px;
}

.experience h3 {
  font-size: 1.7rem;
  margin: 10px 0;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  margin-bottom: 20px;
}

.experience-descrip {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
}
.experience-descrip span {
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

.experience-descrip p {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: flex-start;
  text-align: justify;
}

.experience-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.experience-user h4 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: rgba(0, 0, 0, 1);
  font-weight: 650;
}

.experience-user h5 {
  font-size: 1.1rem;
  color: gray;
}

@media (min-width: 768px) {
  .experience-container {
    padding: 40px;
  }

  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }

  .experience h3 {
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .experience p {
    font-size: 1.2rem;
  }

  .experience h4 {
    font-size: 1.5rem;
  }

  .experience h5 {
    font-size: 1.2rem;
  }
  .experience-user {
    line-height: 180%;
  }
  .experience-descrip span {
    font-size: 2rem;
    font-weight: 900;
  }
}

@media (min-width: 1024px) {
  .experience-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .experience img {
    width: 40%;
    margin-right: -40px;
    border-radius: 40px 0 0 40px;
  }

  .experience-descrip {
    width: 60%;
  }

  .experience p {
    font-size: 1.2rem;
  }

  .experience h4 {
    font-size: 1.6rem;
  }

  .experience h5 {
    font-size: 1.4rem;
  }

  .experience-descrip span {
    font-size: 2.5rem;
  }

  .experience-user {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 1280px) {
  .experience img {
    width: 50%;
  }

  .experience-descrip {
    width: 50%;
  }

  .experience p {
    font-size: 1.5rem;
  }

  .experience h4 {
    font-size: 1.8rem;
  }

  .experience h5 {
    font-size: 1.5rem;
  }
}
